    <div class="credits text-center">
        <p>
            <a href="#">MEAN Stack User Registration and File Download Application</a>
        </p>
        <p>
            Powered by <a href="http://josefdvorsky.com">&nbsp;Josef Dvorsky</a>
        </p>
    </div>
</body>
</html>